/* body */

body {

  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
  min-width: 315px;
  overflow-x: auto;

}

/* navbar */

#navbar{

  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: orange;

}

/* search container */

#search-container{

  width: 70%;
  display: flex;
  flex-direction: row;  

}

/* search input */

#search-input{

  height: 30px;
  width: 70%;
  border: none;
  margin: 0;
  padding: 5px 10px;
  box-sizing: border-box;  
  border-radius: 15px 0 0 15px;
  outline: none;
  color: darkslategrey;

}

/* search button */

#search-button{

  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;  
  width: 30%;
  background-color: #1c2929;
  color: whitesmoke;   
  letter-spacing: 2px;
  border-radius: 0 15px 15px 0;
  cursor: pointer;

}

/* search icon */

#search-icon{

  display: none;
  font-size: 1.2rem;

}

/* main container */

#main-container{
 
  height: 90vh;
  background-image: linear-gradient(to top right , whitesmoke, rgb(255, 226, 175), whitesmoke);

}

/* tab container */

#tab-container{ 

  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  box-sizing: border-box;

}

/* tabs */

.tabs{

  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  font-size: 1rem;
  font-weight: bold;
  background-color: darkslategrey;
  color: whitesmoke;
  border-radius: 20px;
  min-width: 120px;
  cursor: pointer;

}

/* list */

#list{
    
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;  
  overflow-y: auto;    
  max-height: 80vh;

}

#list::-webkit-scrollbar-track{
  margin-top: 20px;
}

/* movie card */

.movie-card{

  display: flex;
  flex-direction: row;    
  justify-content: space-between;
  align-items: center;
  width: 70%;
  border-radius: 20px;
  margin: 20px;
  background-color: rgb(90, 107, 107);    

}

/* adjusting the movie card, according to the screen width */

@media only screen and (max-width: 600px){

  body .movie-card{
    width: 90%;
  }

}

/* movie image container */

.movie-img-container{

  height: 200px;
  width: 135px;
  border-radius: 10px;
  margin: 10px;  
  
}

/* image present inside the above container */

.movie-img-container img{

  height: inherit;
  width: inherit;
  border-radius: inherit;

}

/* movie icon button */

.movie-icon-button{

  display: none;
  font-size: 1.5rem;
  color: rgb(96, 195, 235);

}

/* movie close button */

.movie-close-button{

  display: none;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(255, 100, 100);
  margin: 5px;

}

/* movie description container */

.movie-description-container{

  width: 80%;
  display: flex;
  flex-direction: column;
  color: darkslategrey;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(250, 250, 250);
  margin: 10px;  
  box-sizing: border-box;
  height: 200px;

}

/* movie title genre production container */

.movie-title-genre-production{
  height: 40%;
}

/* movie title */

.movie-title{

  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 10px;

}

/* movie genre */

.movie-genre{

  font-size: 0.9rem;
  padding-left: 20px;
  color: grey;

}

/* movie production */

.movie-production{

  font-size: 0.8rem;
  padding-left: 20px;
  color: grey;  

}

/* movie description */

.movie-description{

  text-align: justify;
  padding: 0 10px;
  color: rgb(46, 46, 46);
  max-height: 75px;
  overflow-y: auto;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

}

.movie-description::-webkit-scrollbar{

  height: 4px;
  width: 4px;  

}

.movie-description::-webkit-scrollbar-track{
  border-radius: 2px;
}

.movie-description::-webkit-scrollbar-thumb{
  border-radius: 2px;
}

/* movie rating favourites */

.movie-rating-favourites{

  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

/* movie rating */

.movie-rating{
  font-weight: bold;  
}

/* favourites button */

.favourites-button{

  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: rgb(96, 195, 235);
  color: whitesmoke;

}

/* favourite or unfavourite icon button */

.fav-unfav-icon-button{

  display: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: rgb(230, 230, 230);

}

/* favourites icon button */

.favourites-icon-button{  
  color: rgb(96, 195, 235);  
}

.unfavourite-icon-button{
  color: rgb(255, 100, 100);
}

/* adjusting the content of movie card, according to the device width */

@media only screen and (max-width: 500px){

  body .fav-unfav-icon-button{
    display: inline-block;
  }

  body .favourites-button{
    display: none;
  }

  body .movie-card{
    position: relative;
  }

  body .movie-img-container{
    
    position: absolute;
    top: 15px;
    right: 15px;
    height: 80px;
    width: 54px;
    margin: 0;

  }  

  body .movie-description-container{
    width: 100%;
  }

  body .movie-description{

    padding: 5px;
    box-sizing: border-box;

  }

  .movie-description::-webkit-scrollbar-track{
    margin-top: 5px;
  }
  
}

/* adjusting the content of movie card, according to the device width */

@media only screen and (max-width: 360px){

  body .movie-img{
    display: none;
  }

  body .movie-icon-button{

    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;

  }  

  body #search-icon{
    display: inline-block;
  }

  body #search-content{
    display: none;
  }

}

/* scrollbar */

::-webkit-scrollbar{

  height: 8px;
  width: 8px;

}

::-webkit-scrollbar-track{
  background-color: lightgrey;
}

::-webkit-scrollbar-thumb{
  background-color: grey;
}